$primary: #21212d;
$primary-light: lighten($primary, 2.5%);
$primary-dark: darken($primary, 2.5%);

$secondary: #625fc8;
$secondary-light: lighten($secondary, 7.5%);
$secondary-dark: darken($secondary, 7.5%);

$font-gray: #939aaa;
$font-gray-dark: #42424e;

$header-height: 100px;
$sidebar-width: 350px;