$primary: #21212d;
$primary-light: lighten(#2c2c3a, 7.5%);
$primary-dark: darken(#2c2c3a, 7.5%);

$secondary: #625fc8;
$secondary-light: lighten(#625fc8, 7.5%);
$secondary-dark: darken(#625fc8, 7.5%);

$font-gray: #939aaa;