nav {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    border-right: 1px solid $font-gray;
    height: 100vh;
    width: $sidebar-width;
    position: fixed;

    h1 {
        color: #fff;
        font-size: 2rem;
        margin-left: 1rem;
    }

    .menu {
        margin-top: 1.5rem;

        &_session {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            &__title {
                display: block;
                margin-left: 1rem;
                color: $font-gray;
                margin-bottom: 0.8rem;
            }

            &__item,
            &__create_project_button {
                padding: 0.7rem;
                padding-left: 1rem;
                width: 80%;
                border-top-right-radius: 1.2rem;
                border-bottom-right-radius: 1.2rem;
                cursor: pointer;

                span {
                    color: $font-gray;
                }
            }

            &__item {
                &:hover {
                    background-color: $secondary-light;

                    span {
                        color: #fff;
                    }
                }
            }

            &__item_active {
                background-color: $secondary;

                span {
                    color: #fff;
                }
            }
        }
    }
}